@import './theme.css';
@import './theme-select.css';
@import './header.css';
@import './courses.css';

* {
  box-sizing: border-box;
  color: var(--theme-color-text);
  font-family: Arial, Helvetica, sans-serif;
}

body {
  margin: 0;
  padding: 0;
  font-size: 16px;
}

.content-wrapper {
  position: relative;
  background: var(--theme-color-background-contrast);
}

.center-content {
  max-width: 960px;
  margin: 0 auto;
  padding: 1rem;
}

.card {
  background: var(--theme-color-background);
  border-radius: 0.6rem;
  overflow: hidden;
}
