:root {
  --theme-color-primary: #3155dc;
  --theme-color-primary-contrast: #f0f3f7;
  --theme-color-background: #f0f3f7;
  --theme-color-background-contrast: #e4e9f8;
  --theme-color-text: #47505a;
}

@media (prefers-color-scheme: dark) {
  :root {
    --theme-color-primary: #ee3254;
    --theme-color-background: #191e2d;
    --theme-color-background-contrast: #0f1423;
    --theme-color-text: #7e818a;
  }
}

#theme-select-light:checked ~ .content-wrapper {
  --theme-color-primary: #3155dc;
  --theme-color-background: #f0f3f7;
  --theme-color-background-contrast: #e4e9f8;
  --theme-color-text: #47505a;
}

#theme-select-dark:checked ~ .content-wrapper {
  --theme-color-primary: #ee3254;
  --theme-color-background: #191e2d;
  --theme-color-background-contrast: #0f1423;
  --theme-color-text: #7e818a;
}
